<h1>RTchat</h1> 
<form action="/account/resetpassword/verify/{{token}}" method="post"> 
    <div><h3>Lấy lại mật khẩu</h3></div>
    <p>{{status}}</p>
    <div>
        <div>
        <i class="fa-solid fa-lock"></i>
        <input placeholder="Mật khẩu mới" type="password" name="password" required/>
        </div>
    </div>
    <div>
        <div>
        <i class="fa-solid fa-lock"></i>
        <input placeholder="Nhập lại mật khẩu" type="password" name="repeatPassword" required/>
        </div>
    </div>
    <button type="submit">Đổi mật khẩu</button>
</form>
