<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/App.css">
    <script src="https://kit.fontawesome.com/b343fe81d4.js" crossorigin="anonymous"></script>
    

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <title>RTchat</title>
</head>
<body>
    <div class="container">
        
        {{{body}}}

        
    </div>
</body>
</html>